.imgCats{
    
    border: 5px dashed black;
    transition: all 3s ease;
}

.fondoRegaloPage{
  background-repeat: repeat;
  background-image: url("https://img.freepik.com/vector-gratis/patron-cajas-regalo-rojo-transparente_1284-43016.jpg");
}

.spinnerCats{
    text-align: center;
}

.listContent{
    text-align: center;
}


@keyframes vibrar {
    0% {
        transform: translate(2px, 2px) rotate(3deg);
    }
    40% {
      transform: translate(-2px, -2px) rotate(-3deg);
    }
    60% {
      transform: translate(2px, 2px) rotate(3deg);
    }
    80% {
      transform: translate(-2px, -2px) rotate(-3deg);
    }
    100% {
      transform: translate(2px, 2px) rotate(3deg);
    }
  }
.imgRegalo{
    transition: all 1s ease;
    width: 606px;
    border: solid 9px rgb(213 25 50);
}
.imgRegaloSpinner{
  position: absolute;
}

.imgCubiertaRegalo{
    position: absolute;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: vibrar;
}

@keyframes mover-y-desvanecer {
    0% {
      top: 20%;
      opacity: 1;
    }
    50% {
      top: -50px;
      opacity: 1;
    }
    100% {
      top: -100px;
      opacity: 0;
      transform: translate(6px, 6px) rotate(6deg);
    }
  }

.imgCubiertaRegaloRemove{
    position: absolute;
    animation-name: mover-y-desvanecer;
    animation-delay: .1s;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.iconsControllsMusic{ 
  display: flex;
  justify-content: space-evenly;
}

@keyframes sliding {
  to {
      background-position: -2000vw;
  }
}
.tittleMusic{
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  background-image: linear-gradient(to right,orangered,orange,gold,lightgreen,cyan, dodgerblue, mediumpurple, hotpink, orangered);
  background-size: 110vw;
  animation: sliding 30s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.fondoDarkFilter{
  filter: grayscale(100%);
}

