@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/*estilos generales*/
/* esta es la animacion del texto */
@keyframes slidein {
    from {
        margin-top: -300%;

    }

    to {
        margin-top: 11%;


    }
}
@keyframes slideinDisabled {
    from {
        margin-top: 11%;
    }

    to {
        margin-top: -300%;
    }
}

.backfocusinput{
    transition: all 1s ease;
    filter: blur(10px);
}
.backfocus{
    transition: all 1s ease;
    backdrop-filter: blur(10px);
}
.CenterContent {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}
.titledisabled {
    animation-duration: 3s;
    animation-name: slideinDisabled;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 30px;
}
.tittleInicioApp {
    transition: all 1s ease;
    animation-duration: 5s;
    animation-name: slidein;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 30px;
}
.disabled {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Concert One', cursive;
    --transition: all 3s ease;
    --color: #000000;
    --padding-bottom: 50px;
    --padding-top: 50px;
    --padding-start: 20px;
    --padding-end: 20px;
    --background: #070606;
    --opacity: 0%;
}

/* estilos iteracion 0 */
.ion-content1 {
    --background: #dd0a9e;
}
.buttonInicioAppCss {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Concert One', cursive;
    --background: #b80783;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.buttonInicioAppCss:hover {
    --background: #8a0963;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}

/* estilos iteracion 1 */
.ion-content2 {
    --background: #db0f42;
    transition: all 3s ease;
}
.ion-content2::part(background) {
    transition: all 3s ease;
  }
.buttonInicioAppCss2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Concert One', cursive;
    --background: #bb0e39;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

}
.buttonInicioAppCss2:hover {
    --background: #8d0a2b;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}
/* estilos iteracion 2 */
.ion-content3 {
    --background: #4c0ddf;
    transition: all 3s ease;
}
.ion-content3::part(background) {
    transition: all 3s ease;
  }
  .buttonInicioAppCss3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Concert One', cursive;
    --background: #3f0cb8;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.buttonInicioAppCss3:hover {
    --background: #320a8d;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}

/* estilos iteracion 3 */
.ion-content4 {
    --background: #0fe42b;
    transition: all 3s ease;
}
.ion-content4::part(background) {
    transition: all 3s ease;
  }
  .buttonInicioAppCss4 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    font-family: 'Concert One', cursive;
    --background: #0bbe23;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.buttonInicioAppCss4:hover {
    --background: #0b8d1c;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}
@keyframes imgAnimated {
    from {
        margin-left: -300%;

    }

    to {
        margin-right: -300%;


    }
}
.imgEmoji{
    animation-duration: 6s;
    animation-name: imgAnimated;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    width: 150px;
    top: 90%;
    left: 180%;
    transform: translate(-180%, -90%);
}
/* estilos iteracion 4 */
.ion-content5 {
    --background: #e45d0f;
    transition: all 3s ease;
}
.ion-content5::part(background) {
    transition: all 3s ease;
  }
  .buttonInicioAppCss5 {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
    font-family: 'Concert One', cursive;
    --background: #be620b;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.buttonInicioAppCss5:hover {
    --background: #8d500b;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}

.disabledInputApp {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    opacity: 0%;

}

.inputApp{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-family: 'Concert One', cursive;
    text-align: center;
    --background: #be620b;
    --placeholder-color:#000000;
    transition: all 4s ease;
    box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.custom-alert{
    --background: #ff6600;
}

.custom-alert .alert-title {
    font-weight: bold;
}

.custom-alert .alert-sub-title{
    font-weight: bold;
}


.custom-alert .alert-message{
color: #000000;

}

.custom-alert .buttonAlert{
    color: white;
}
