@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/*estilos generales*/
/* esta es la animacion del texto */
@keyframes slidein {
    from {
        margin-top: -300%;

    }

    to {
        margin-top: 11%;

    }
}
@keyframes slideinDisabled {
    from {
        margin-top: 11%;
    }

    to {
        margin-top: -300%;
    }
}
.CenterContent {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -35%);
}
.titledisabled {
    animation-duration: 3s;
    animation-name: slideinDisabled;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 30px;
}
.tittleInicioApp {
    animation-duration: 5s;
    animation-name: slidein;
    text-align: center;
    font-family: 'Concert One', cursive;
    font-size: 30px;
}
.disabled {
    --color: #000000;
    --padding-bottom: 50px;
    --padding-top: 50px;
    --padding-start: 20px;
    --padding-end: 20px;
    --background: #070606;
    --opacity: 0%;
}

/* estilos iteracion 0 */
.ion-content1 {
    --background: #dd0a9e;
}
.buttonInicioAppCss {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Concert One', cursive;
    --background: #b80783;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

}

.buttonInicioAppCss:hover {
    --background: #8a0963;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}

/* estilos iteracion 1 */
.ion-content2 {
    --background: #db0f42;
    transition: all 3s ease;
}
.ion-content2::part(background) {
    transition: all 3s ease;
  }
.buttonInicioAppCss2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Concert One', cursive;
    --background: #bb0e39;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

}
.buttonInicioAppCss2:hover {
    --background: #8d0a2b;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}
/* estilos iteracion 2 */
.ion-content3 {
    --background: #4c0ddf;
    transition: all 3s ease;
}
.ion-content3::part(background) {
    transition: all 3s ease;
  }
  .buttonInicioAppCss3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
    font-family: 'Concert One', cursive;
    --background: #3f0cb8;
    --transition: all 6s ease;
    --box-shadow: 0px 8px 5px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.buttonInicioAppCss3:hover {
    --background: #320a8d;
    --box-shadow: 0px 20px 5px 0 rgba(0, 0, 0, 0.25);

}